.section-sub-banner
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%)
	.page-title-wrapper
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: 2
	.breadcrumb-wrapper
		padding: r(12px) 0 r(20px)
		.rank-math-breadcrumb
			p
				a,span
					color: white !important

// .global-breadcrumb
// 	padding-top: var(--header-height)
// .wrapper-banner-breadcrumb
// 	.global-breadcrumb
// 		padding: 0
