.rank-math-breadcrumb
	+remove(lg,max)
	p
		display: flex
		align-items: center
		justify-content: center
		@extend .body-3
		gap: r(12px)
		+text(secondary-500)
		span.separator
			font-size: 0
			&:before
				content: "|"
				+fz(18px)
		a,span
			&:last-child
				font-weight: 700
				+text(primary-1)

.breadcrumb-wrapper
	padding: r(12px) 0 0
	+remove(lg,max)
	+bg(white)
