.badge
	display: inline-flex
	+flex-center
	gap: r(8px)
	padding: r(4px) r(12px)
	font-weight: 500
	line-height: 1
	text-align: center
	white-space: nowrap
	vertical-align: baseline
	border-radius: 50rem
	@extend .body-4
	em,i
		position: relative
	&:empty
		display: none
