.icon
	display: inline-flex
	align-items: center
	justify-content: center
	img
		width: 100%
		height: 100%
		object-fit: contain
	&-no-fit
		img
			object-fit: none
			width: auto
			height: auto
	&-circle
		border-radius: 50%
	&-center
		+flex-center
	&-24
		flex: 0 0 r(24px)
		width: r(24px)
		height: r(24px)
	&-32
		flex: 0 0 r(32px)
		width: r(32px)
		height: r(32px)
	&-40
		flex: 0 0 r(40px)
		width: r(40px)
		height: r(40px)
	&-48
		flex: 0 0 r(48px)
		width: r(48px)
		height: r(48px)
	&-60
		flex: 0 0 r(60px)
		width: r(60px)
		height: r(60px)
	&-64
		flex: 0 0 r(64px)
		width: r(64px)
		height: r(64px)
	&-72
		flex: 0 0 r(72px)
		width: r(72px)
		height: r(72px)
		font-size: r(72px)
	&-80
		flex: 0 0 r(80px)
		width: r(80px)
		height: r(80px)
	&-100
		flex: 0 0 r(100px)
		width: r(100px)
		height: r(100px)
